.task {
  background-color: #f2f2f2; /* Light gray background */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.task:hover {
  transform: scale(1.02); /* Slightly scale up on hover */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add a deeper shadow on hover */
}

.task h1 {
  font-size: 24px; /* Larger font size for the title */
  margin: 5px 0;
  color: #333;
  text-align: center;
}

.task p {
  font-size: 16px; /* Larger font size for the description */
  color: #555;
  margin: 5px 0;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  align-items: center;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 0;
}

.form-check-input {
  margin-right: 10px;
}

.actions button {
  background-color: #ff6b6b; /* Red button background color */
  color: #fff;
  border: none;
  padding: 8px 0; /* Width set to 100% of the container */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100px; /* Set a specific width for the button */
  text-align: center; /* Center the button text */
}

.actions button:hover {
  background-color: #ff4747; /* Darker red on hover */
}