.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f4f4f4;
  }
  
  .title {
    font-size: 36px;
    color: #007bff; /* Blue text color */
    margin: 20px 0;
  }